@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Text", sans-serif;
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #8888886c;
    border-radius: 6px;
    /* border: 3px solid #f1f1f1; */
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

/* Bouncing Dots */

.bouncing-loader {
  display: flex;
  justify-content: center;
  /* margin: 10px auto; */
  margin-bottom: -8px;
  padding: 5px 0;
  padding-top: 7px;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 1px 4px;
  border-radius: 50%;
  background-color: #000;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.4;
    transform: translateY(-10px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
